.container-title {
  display: flex;
  justify-content: end;
}

.container-grid {
  border-color: #69f0ae;
  border-style: solid;
  border-width: 2px;
  height: 99%;
}

.title {
  display: block;
  margin-left: 20px;
  font-size: 18px;
  padding-top: 15px;
}

.container-charts {
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 0px;
  display: flex;
  min-width: 612px;
  height: 70%;
  align-items: center;
  min-height: 220px;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #69f0ae;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #69f0ae;
}

text {
  color: #FFFF;
}